.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 100vh;
    background-color: #c7c5c6;
  }
  .row {
    display: flex;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .col .row> div {
    margin-right: 10px;
  }
  .container > .row {
    width: 300px;
  }
  .col > .row > div a img {
    width: 200px;
  }
  .container > .row a img {
    width: 400px;
  }