* {
  margin: 0;
  padding: 0;
}
.main{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 100vh;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.col .row > div {
  margin-left: 10px;
}
.col > .row > div a img {
  height: 350px;
}
.pictureVertical a img {
  height: 700px;
}
.sale {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
 }
 .sale a img {
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
 }
 .sale a img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
 }
