
    <div class="container">
        <div class="row">
            <a routerLink="/page1" routerLinkActive="active">
              <img src="../assets/title_picture/supersale.jpg" alt="lorem"/>
            </a>
          </div>
        <div class="col">
          <div class="row">
            <div><a routerLink="/page2" routerLinkActive="active"> <img src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
            <div><a routerLink="/page3" routerLinkActive="active"> <img src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
            <div><a routerLink="/page4" routerLinkActive="active"> <img src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
            <div><a routerLink="/page5" routerLinkActive="active"> <img src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
          </div>
          <div class="row">
            <div><a routerLink="/page6" routerLinkActive="active"> <img src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
            <div><a routerLink="/page7" routerLinkActive="active"> <img src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
            <div><a routerLink="/page8" routerLinkActive="active"> <img src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
            <div><a routerLink="/page9" routerLinkActive="active"> <img src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
          </div>
        </div>
      </div>
  
