
  <div class="container-fluid">
        <div class="row">
          <div class="sale col-4">
            <a routerLink="/page1" routerLinkActive="active">
              <img  class="img-fluid" src="../assets/title_picture/supersale.jpg" alt="lorem"/>
            </a>
          </div>
        <div class="col-8" >
          <div class="sale  col-3 "><a routerLink="/page2" routerLinkActive="active"> <img class="img-fluid" src="../assets/title_picture/megasale2.png" alt="lorem"/></a></div>
          <div class="sale  col-3 "><a routerLink="/page3" routerLinkActive="active"> <img class="img-fluid" src="../assets/title_picture/superpromo.png" alt="lorem"/></a></div>
          <div class="sale  col-3 "><a routerLink="/page4" routerLinkActive="active"> <img class="img-fluid" src="../assets/title_picture/biggestsale.png" alt="lorem"/></a></div>
          <div class="sale  col-3 "><a routerLink="/page5" routerLinkActive="active"> <img class="img-fluid" src="../assets/title_picture/supersale.jpg" alt="lorem"/></a></div>
          <div class="sale  col-3 "><a routerLink="/page6" routerLinkActive="active"> <img class="img-fluid" src="../assets/title_picture/flashsale.png" alt="lorem"/></a></div>
          <div class="sale  col-3 "><a routerLink="/page7" routerLinkActive="active"> <img class="img-fluid" src="../assets/title_picture/specialoffer.png" alt="lorem"/></a></div>
          <div class="sale  col-3 "><a routerLink="/page8" routerLinkActive="active"> <img class="img-fluid" src="../assets/title_picture/newarrival.png" alt="lorem"/></a></div>
          <div class="sale  col-3 "><a routerLink="/page9" routerLinkActive="active"> <img class="img-fluid" src="../assets/title_picture/bigsale.png" alt="lorem"/></a></div>
        </div>

      </div>
  </div>

