
:host {
    display: block;
    perspective: 400px;
}

.img {
   /*  box-shadow: 10px 10px 43px 18px rgba(0, 0, 0, 0.75); */
    border-radius: 5px;
    height: 1200px;
    width: 1200px;
 position: absolute;
    
    top: 100px;
    left: 1000px;
    transform-style: preserve-3d;
}

.face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;

    > img {
        width: 100%;
        height: 100%;
    
        border-radius: inherit;
    }
}

.front{
    transform: rotateY(180deg);
}