<nav>
  <div class="container">
    <div class="row">
      <a routerLink="/page1" routerLinkActive="active"> page1</a>
    </div>
    <div class="col">
      <div class="row">
        <div><a routerLink="/page2" routerLinkActive="active"> page2</a></div>
<div><a routerLink="/page3" routerLinkActive="active"> page3</a></div>
<div><a routerLink="/page4" routerLinkActive="active"> page4</a></div>
<div><a routerLink="/page5" routerLinkActive="active"> page5</a></div>
    </div>

    <div class="row">
      <div> <a routerLink="/page6" routerLinkActive="active"> page6</a></div>
      <div><a routerLink="/page7" routerLinkActive="active"> page7</a></div>
      <div><a routerLink="/page8" routerLinkActive="active"> page8</a></div>
      <div><a routerLink="/page9" routerLinkActive="active"> page9</a></div>
    </div>
    </div>

  </div>
</nav>
<router-outlet></router-outlet>
