
.title{
   

    width: 97%; 
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
  overflow: hidden; 
    background-size: cover; 
     background-position: center; 
    background-image: url("../../assets/megasale/4.png");
}
.img{
    margin-left: 5%;
    width: 90%;  
    background-size: contain;
    background-repeat: no-repeat;
/*     overflow: hidden; */
   /*  background-size: cover; */
   /*  background-position: center; */
    background-image: url("../../assets/megasale/5565365.jpg")
}
.circle{
    width: 25%; 
    height: 33vh; 
    position: relative;    
    top: 42%;
    left: 95.8%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/megasale/2.png")

}
.circle1{
    width: 60%; 
    height: 60vh; 
    position: absolute;    
    top: 22%;
    left: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/megasale/3.png")

}

.text{
    width: 60%; 
    height: 60vh; 
    position: absolute;    
    top: 6%;
    left: 3%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/megasale/Title.png")

}
.text1{
    width: 30%; 
    height: 30vh; 
    position: absolute;    
    top: 51%;
    left: 95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/megasale/t1.png")

}
.logo{
    width: 20%; 
    height: 20vh; 
    position: absolute;    
    top: -32%;
    left: -12%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/megasale/logo.png")

}
.shop{
    width: 30%; 
    height: 30vh; 
    position: absolute;    
    top: 83%;
    left: 22%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/superpromo/SHOP NOW.png")

}


