
.title{
   

    width: 100%; 
    height: 98vh;
    background-size: contain;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    /* background-size: cover; */
    /* background-position: center; */
    background-image: url("../../assets/megasale/4.png");
}
.img{
    margin-left: 6%;
    width: 90%;  
    background-size: contain;
    background-repeat: no-repeat;
/*     overflow: hidden; */
   /*  background-size: cover; */
   /*  background-position: center; */
    background-image: url("../../assets/megasale/5565365.jpg")
}
.circle{
    width: 90%; 
    height: 98vh; 
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/megasale/2.png")

}