<div class="img">
    <div class="title" [@move]="state" (@move.done)="onEnd($event)">
    </div>


    <div class="circle1" [@animationCircle]>
        <div class="circle" [@animationCircle]>

        </div>
        <div class="text" (mouseover)="changeMoveDivState()" (mouseout)="changeOutDivState()"
            [@moveMouseDiv]="moveDivState">

        </div>
        <Div class="text1"(mouseout)="cardClicked()" [@cardFlip]="data.state"></Div>
 <Div class="logo"></Div>
 <Div class="shop"[@move]="state" (@move.done)="onEnd($event)"></Div>
    </div>
   

</div>



