*{ background-image: url("../../assets/title_picture/supersale.jpg");

}
.title{
    background-size: 100%;
    

    width: 1920px;
    height: 100vh;
    background-image: url("../../assets/megasale/4.png");
}
.img{
    width: 1920px;  
    height: 100vh;
    
    background-image: url("../../assets/megasale/5565365.jpg")
}